{% extends "auctions/layout.html" %}

{% block body %}
<h2>Your watchlist</h2>
<br>
<div class="d-flex flex-row flex-wrap justify-content-center">
        {% for listing in watchlist %}
        <div class="listing my-4 mx-2 d-flex">
            <a href={% url 'listing' listing.id%} class="w-100">
                {%if listing.photo_url%}
                <div class="text-center" style="height: 300px; display: flex; justify-content: center; align-items: center;">
                    <img src="{{listing.photo_url}}" alt="No photo" class="listing-img align-self-center">
                </div>
                {%endif%}
                <div class="col-lg-9 listing-text">
                    <h3> {{listing.title}} </h3>
                    <div>Category: {{listing.category}}</div>  
                    <div>{{listing.description}}</div>
                    <div>Year: {{listing.year}}</div>
                    <div>Starting bid: {{listing.bid}}$</div>
                    <div>Publish date: {{listing.creation_date}}</div>
                </div>
            </a>
        </div>
        
    <br>
    {% endfor %}
    </div>
{% endblock body %}