{% extends "auctions/layout.html" %}

{% block body %}
<h2>Your watchlist</h2>
<br>
{% for listing in watchlist %}
    <div class="listing">
        <a href={% url 'listing' listing.id%}>
        <div class="row">
            <div class="col-lg-3"><img src="{{listing.photo_url}}" alt="No photo" class="listing-img"></div>
            <div class="col-lg-9">
                <h3> {{listing.title}} </h3>
                <div>Category: {{listing.category}}</div>  
                <div class="listing-text">{{listing.description}}</div>
                <div>Starting bid: {{listing.bid}}$</div>
                <div>Publish date: {{listing.creation_date}}</div>
            </div>
        </div>
    </a>
    </div>
    <br>
    {% endfor %}
{% endblock body %}